:root {
  --font-size: clamp(1rem, 2vw, 1.2rem);
}
.current-weather {
  width: 100%;
  position: relative;

  overflow: hidden;

  display: flex;
  justify-content: space-between;

  font-size: var(--font-size);

  text-wrap: nowrap;

  isolation: isolate;
  z-index: 0;
}

.current-weather > * {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 5%;

  height: 200px;
}

.current-weather * {
  z-index: 2;
}

h1 {
  font-weight: normal;
}

.weather-details p {
  margin-top: 0;
}

.weather-details strong {
  font-weight: normal;
}

.time {
  margin: 0;
}

.time > * {
  display: block;
}
.date-text {
  font-size: calc(var(--font-size) * 1.5);
}
.time-text,
.temperature-text {
  font-size: calc(var(--font-size) * 3);
}
.temperature-text {
  margin: 0;
}

.weather-icon {
  position: absolute;
  font-size: 10rem;
  margin-left: 45%;

  z-index: 1;

  text-shadow: 1px 1px 2px black;
}

@media (max-width: 770px) {
  .current-weather {
    display: block;
  }
  .weather-details {
    height: fit-content;
    padding: 0 5%;
  }

  .weather-details * {
    line-height: 2rem;
    text-align: right;
  }

  .time-text,
  .temperature-text {
    font-size: clamp(2.5rem, 9vw, 4rem);
  }

  .temperature-text {
    position: absolute;
  }
  .weather-icon {
    margin-left: 10%;
    top: 10%;
    font-size: 7rem;
  }
}
