body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  text-align: center;

  text-transform: uppercase;
  color: white;
}

.app {
  width: 100%;
  max-width: 1200px;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  padding: 7rem 2rem;

  text-shadow: 1px 1px 2px purple;
}

@media (max-width: 770px) {
  .app {
    height: 100%;
    margin: 0;
    padding: 7rem 0;
  }
}
