.form label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.form input {
  background-color: transparent;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;

  text-transform: uppercase;
}

.form input:focus {
  outline: none;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 0;
}
